body {
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
  background-position: top;
  padding: 0px;
  margin: 0px;
  color: #444444;
  font-size: 13px;
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
}

table {
  font-size: 13px;
}

p {
  margin-bottom: 1em;
}

tt, code {
  font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,  monospace;
}

.autolink {
  text-decoration: underline;
  cursor: pointer;
}

#logo {
  background-image: url(../img/logo.png);
  width: 64px;
  height: 64px;
  top: 5px;
  left: 15px;
  position: absolute;
}

.loading {
  width: 100%;
  height: 50%;
  top: 0px;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  padding-top: 30%;
}

/*
#searchbox {
	padding: 2px;
	position: absolute;
    top: 20;
    left: 100;

	width: 35%;
	height: 32px;

	font-size: 16px;

	box-shadow: 0 0 10px #eeeeee;
} */
li.search_entry_java_class span {
  padding-right: 10px;
}
li.search_entry_java_class span.class_brief {
  color: #999999;
  font-size: 12px;
}
li.search_entry_java_class span.class_package {
  font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,  monospace;
  font-size: 10px;
  color: #999999;
}

#live_search {
  display: none;
  cursor: pointer;
  width: 350px;
  height: 300px;
  max-height: 400px;
  position: absolute;
  top: 60;
  left: 100;
  z-index: 10;
  overflow: auto;
}
#live_search li {
  background-color: #eeeeee;
  padding: 10px;
  margin: 0px;
  list-style-type: none;
  line-height: 1.3;
  font-size: 1.1em;
}
#live_search li:hover {
  background-color: #ffffff;
}

#panel_left, #panel_right {
  padding: 3%;
  padding-top: 0%;
  margin: 0px;
  margin-top: 15px;
  overflow: auto;
  height: 100%;
}

#panel_left {
  width: 44%;
  max-width: 50%;
  float: left;
  padding-right: 2%;
}

#panel_right {
  padding-right: 0px;
  width: 47%;
  max-width: 60%;
  float: left;
}

.method_info, .class_info {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  width: 0px;
  height: 0px;
  background-repeat: no-repeat;
}
.method_info.public, .method_info.protected, .method_info.final, .class_info.public, .class_info.protected, .class_info.final {
  float: left;
  visibility: visible;
  position: relative;
  width: 5px;
  height: 35px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center;
}
.method_info.public, .class_info.public {
  background-image: url(../img/public.png);
}
.method_info.protected, .class_info.protected {
  background-image: url(../img/protected.png);
}
.method_info.final, .class_info.final {
  width: 35px;
  height: 35px;
  background-image: url(../img/final.png);
}

.method_name, .class_name {
  font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,  monospace;
}

.class_type {
  font-size: 14px;
  font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,  monospace;
  color: #666688;
}

.method_param_list, .method_return_type, .method_spec {
  font-size: 14px;
  font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,  monospace;
  color: #666688;
}

.param_doc_type {
  font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,  monospace;
  color: #666688;
}

.param_doc_name {
  font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,  monospace;
}

.reference ul li {
  margin: 0px;
  vertical-align: top;
}

.index {
  clear: both;
}
.index.last {
  float: right !important;
}
.index ul {
  margin: 0;
  padding: 0;
}
.index ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.3;
  font-size: 1.1em;
}
.index a {
  cursor: pointer;
}
